@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
}

@media (max-width: 768px) {
    #technology .about-containers {
        grid-template-columns: 1fr;
    }
}
